<ul class="list-group col-md-12">
{{#each processed}}
{{#if @last}}
<li class="list-group-item item">
	<div class="row">
		<form class="tradebox col-md-12 form-horizontal" method="POST" action="markt">
			<!-- hidden fields required for processing -->
			<input type="hidden" name="csrfPreventionSalt"
				value="{{csrfPreventionSalt}}">
			<div class="col-md-12">
				<!-- buy or sell? -->
				<div class="form-group row">
					<fieldset {{#if @last}}data-intro='Hier kann zwischen dem Kauf oder Verkauf der Items gewählt werden.'{{/if}}>
						<label class="radio-inline col-sm-6 form-control-label"> <input
							type="radio" id="buy{{index}}" name="bs" value="buy" class="buyRadio" {{#if buy}}checked="checked"{{/if}}>kaufen
						</label> <label class="radio-inline col-sm-5 form-control-label">
							<input type="radio" id="sell{{index}}" name="bs" value="sell" class="sellRadio"
							{{#unless buy}}checked="checked"{{/unless}}>verkaufen
						</label>
					</fieldset>
				</div>
				<div class="form-group row">
					<div class="col-sm-6 col-xs-12">
						<!-- items -->
						<div class="form-group row" data-intro='Hier kann das zu handelnde Item gewählt werden.'>
							<label class="col-md-4 control-label">Item</label>
							<div class="col-md-8" style="height: 34px">
							<select class="itemList form-control active_trade_box" name="item" style="width: 100%">
								{{#each itemlist}}
									<option value="{{id}}" {{#if selected}}selected=""{{/if}}>{{name}}</option>
								{{/each}}
							</select>
							</div>
						</div>
						<!-- amount -->
						<div class="form-group row" data-intro='Hier kann eingestellt werden, wie viele Items gekauft oder verkauft werden sollen. Pro Handelsslot können maximal 3456 Items (eine Doppelkiste) gehandelt werden'>
							<label class="col-md-4 control-label">Anzahl</label>
							<div class="col-md-8">
								<input type="number" step="1" min="1" max="3456" name="count"
									class="form-control" id="count" value="{{amount}}"
									autocomplete="off">
							</div>
						</div>
						<!-- ppi -->
						<div class="form-group row" data-intro='Hier kann der Preis pro einzelnem Item eingestellt werden.'>
							<div class="col-md-4 noPadding">
							<select class="form-control noPadding" id="priceAmount">
								<option value="1" selected="">Itempreis (1)</option>
								<option value="64">Stackpreis (64)</option>
								<option id="totalOption" value="-1">Gesamtpreis</option>
							</select>
							</div>
							<div class="col-md-8">
								<input type="number" class="form-control" id="price" value="{{price}}" min="0.0001" step="0.0001"
									autocomplete="off">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<!-- expected total -->
						<div class="form-group row has-feedback" data-intro='Hier wird der erwartete Bruttopreis vor Abzug der Kosten für alle Items zusammen angezeigt. Je nach dem Preis der Handelspartner können beim Kauf geringe Kosten oder bei Verkauf höhere Erträge zustandekommen.'>
							<label class="col-md-12 form-control-label">Tatsächlicher Preis pro Item</label>
							<div class="col-md-12">
								<input type="text" class="form-control" id="ppi" name="price" value="{{price}}"
									readonly="readonly">
							</div>
							<i id="priceWarning" class="glyphicon glyphicon-warning-sign text-warning form-control-feedback"></i>
						</div>
						<!-- expected taxes -->
						<div class="form-group row" data-intro='Hier werden die zu erwartenden Steuern angezeigt. Je nach Preises des Handelspartners können die tatsächlichen Steuern höher oder niedriger ausfallen.'>
							<label class="col-md-12 form-control-label">Tatsächlicher Gesamtpreis</label>
							<div class="col-md-12">
								<input type="text" class="form-control" id="total" value="{{price}}"
									disabled="disabled">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- create/cancel -->
			<div class="form-group row">
				<div class="col-md-12"  data-intro='Mit diesem Button kann die Order abgeschickt werden. Vor dem Absenden sollten die Eingaben nochmal überprüft werden.'>
					<input type="submit" id="submit{{index}}" value="{{submitValue}}" name="{{submitName}}"
						class="btn btn-primary btn-block">
				</div>
			</div>
		</form>
	</div>
</li>
{{else}}
<li class="list-group-item item">
	<div class="row">
		<div class="ktimage col-xs-1" image="{{imageName}}"></div>
		<div class="col-xs-9">
			<div class="col-md-12">{{buySellText}} {{amount}}*{{materialName}} für jeweils {{price}} Kadis.</div>
			<div class="col-md-12">
				<div class="progress">
					<div class="progress-bar {{color}}" role="progressbar"
							aria-valuenow="{{sold}}" aria-valuemin="0" aria-valuemax="{{amount}}"
							style="width: {{percent}}%;">
							<span>{{sold}} / {{amount}}</span>
					</div>
				</div>
			</div>
		</div>
		<form class="form-horizontal col-md-2 col-xs-12" method="POST" action="markt">
			<input type="hidden" name="csrfPreventionSalt" value="{{csrfPreventionSalt}}">
			<input type="hidden" name="tradeid" value="{{id}}">
			<input type="hidden" name="bs" value="{{buySellCommand}}">
			<input type="hidden" name="item" value="{{materialId}}">
			<input type="hidden" name="price" value="{{price}}">
			<div class="form-group row">
				<div class="col-md-12"  {{#if @last}}data-intro='Mit diesem Button kann die Order abgeschickt werden. Vor dem Absenden sollten die Eingaben nochmal überprüft werden.'{{else}}{{#if @first}} data-intro='Hiermit kann eine laufende Order abgebrochen werden. Ungehandelte Items oder unbenutztes Geld wird in die Entnahmeslots übertragen.' {{/if}}{{/if}}>
					<input type="submit" value="Abbrechen" name="cancel" class="btn btn-primary btn-block">
				</div>
			</div>
		</form>
	</div>
</li>
{{/if}}
{{/each}}
</ul>
