@CHARSET "UTF-8";

html, body {
	height: 100%;
}

body {
	display: table;
	width: 100%;
}

/*
 * Navbar
 */
.navbar-login {
	width: 250px;
	padding: 0 10px;
	padding-bottom: 0px;
}

.navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size {
	font-size: 87px;
}

.bottomFlat {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.topFlat {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.gbtn {
	float: left;
}
/*
 * content
 */
#content {
	padding-top: 60px;
}

@media ( max-width : 767px) {
	#content {
		padding-top: 50px;
	}
}

#rcontent {
	height: calc(100vh - 60px - 70px);
	overflow-y: auto;
	overflow-x: hidden;
}

@media ( max-width : 768px) {
	#rcontent {
		height: auto;
		overflow-y: hidden;
	}
}

/*
 * footer
 */
.footer {
	height: 70px;
	text-align: center;
	overflow-y: scroll;
}

#footer li {
	display: inline;
}

.page-row {
	display: table-row;
	height: 1px;
}

/*
 * materials
 */
.mats {
	height: calc(100vh - 60px - 70px);
	overflow-y: auto;
	overflow-x: hidden;
}

@media ( min-width : 768px) {
	#outercollapse {
		display: block;
	}
}

#itemContainer {
	padding-right: 0;
}

.itemlistentry {
	cursor: pointer;
}

.buy {
	background-color: #eeffe6;
}

.sell {
	background-color: #ffeaea;
}

.panel-heading {
	background-color: #8c8c8c;
}

#qrModalDialog {
	width: 286px;
	height: 286px;
}

.panel-heading {
	font-size: 21px
}

#logTable.td {
	white-space: nowrap;
}

.progress {
	margin-bottom: 0px;
}

.noPadding {
	padding-left: 0px;
	padding-right: 0px;
}