@CHARSET "UTF-8";

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

text.symbol {
	fill: #BBBBBB;
}

path {
	fill: none;
	stroke-width: 1;
}

path.candle {
	stroke: #000000;
}

path.candle.body {
	stroke-width: 0;
}

path.candle.up {
	fill: #00AA00;
	stroke: #00AA00;
}

path.candle.down {
	fill: #FF0000;
	stroke: #FF0000;
}

.close.annotation.up path {
	fill: #00AA00;
}

path.volume {
	fill: #0174DF;
}

.crosshair {
	cursor: crosshair;
}

.crosshair path.wire {
	stroke: #DDDDDD;
	stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
	fill: #DDDDDD;
}

.c3 text {
	stroke: #ddd;
}