@CHARSET "UTF-8";
/* 
    Document   : flip-scroll
    Created on : 28/02/2012, 11:01:45 AM
    Author     : Simon Elvery
    Description:
        Demonstration of the responsive tables method described at by David Bushell
		at http://dbushell.com/2012/01/05/responsive-tables-2/
*/
@media only screen and (max-width: 767px) {
	.flip-scroll {
		max-width: calc(100vw - 45px);
	}
}
@media only screen and (max-width: 991px) {
	.flip-scroll .cf:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.flip-scroll * html .cf {
		zoom: 1;
	}
	.flip-scroll *:first-child+html .cf {
		zoom: 1;
	}
	.flip-scroll table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
	}
	.flip-scroll th, .flip-scroll td {
		margin: 0;
		vertical-align: top;
	}
	.flip-scroll th {
		text-align: left;
	}
	.flip-scroll table {
		display: block;
		position: relative;
		width: 100%;
	}
	.flip-scroll thead {
		display: block;
		float: left;
	}
	.flip-scroll tbody {
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}
	.flip-scroll thead tr {
		display: block;
	}
	.flip-scroll th {
		display: block;
		text-align: right;
	}
	.flip-scroll tbody tr {
		display: inline-block;
		vertical-align: top;
	}
	.flip-scroll td {
		display: block;
		min-height: 1.25em;
		text-align: left;
	}

	/* sort out borders */
	.flip-scroll th {
		border-bottom: 0;
		border-left: 0;
	}
	.flip-scroll td {
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}
	.flip-scroll tbody tr {
		border-left: 1px solid #babcbf;
	}
	.flip-scroll th:last-child, .flip-scroll td:last-child {
		border-bottom: 1px solid #babcbf;
	}
}